*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: rgba(14, 67, 212, 0.502);
}
ul li {
    list-style-type: none;
}
h1 {
    margin: .7em 0;
}
// reusable component
.container {
    max-width: 80%;
    margin: 0 auto;
}
.hide {
    display: none;
}
// end reusable component

// animation
.animation {
    animation-name: dropIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes dropIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
// animation end

// section command and buttons
.wrapper-cmd {
    display: flex;
    justify-content: flex-start;
    .flex-items {
        border: none;
        padding: .5rem;
        margin-right: 1.3em;
        font-family: 'Gemunu Libre', sans-serif;
        border-radius: 4px;
    }
}
// end section command and buttons

// main part with all the DATA print out
.wrapper-uls-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.planet-list-left, .planet-list-right {
    margin: 2em 0;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    li {
        font-size: 2rem;
        width: 80%;
    }
}
.planet-list-left {
    margin-top: 130px;
    border-right: 1px solid #000;
}
.planet {
    width: 100%;
    margin: 1em 0;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.15);
    text-align: center;
    position: relative;
    font-weight: bold;
    span {
        position: absolute;
        top: .5em;
        right: 1em;
        font-size: .8rem;
        font-weight: 300;
    }
}

// Timeline' section style
li.right::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
}
li.right::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: -14%;
}
li.left::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
}
li.left::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-left: 15px solid white;
    border-bottom: 15px solid transparent;
}
// end timeline' section

// errors' section
#error {
    font-size: 1.325rem;
    font-weight: bold;
    color: rgb(215, 28, 28);
    text-transform: capitalize;
}

// media queries
@media (min-width: 500px) {
    .flex-items {
        font-size: 1rem;
        margin-top: .5em;
    }
}
@media (max-width: 700px) {
    .wrapper-cmd {
        flex-direction: column;
    }
    .wrapper-uls-lists {
        flex-direction: column;
    }
    .planet-list-right {
        margin: 0;
        border-left: 1px solid #000;
    }
    .planet-list-left {
        margin-top: 50px;
        margin-bottom: 0;
        border-left: 1px solid #000;
        border-right: 0;
    }
    li.left::before {
        left: -15%;
    }
    li.left::after {
        right: 100%;
        border-right: 15px solid white;
        border-left: 0;
    }
}
