*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: rgba(14, 67, 212, 0.502);
}
ul li {
    list-style-type: none;
}
h1 {
    margin: .7em 0;
}
// reusable component
.container {
    max-width: 80%;
    margin: 0 auto;
}
.hide {
    display: none;
}

.animation {
    animation-name: dropIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes dropIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


// end reusable component
.planet-list {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        font-size: 2rem;
    }
}
.planet {
    width: 100%;
    margin: 1em 0;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.15);
    text-align: center;
    position: relative;
    font-weight: bold;
    span {
        position: absolute;
        top: .5em;
        right: 1em;
        font-size: .8rem;
        font-weight: 300;
    }
}

// section command
.wrapper-cmd {
    display: flex;
    justify-content: flex-start;
    .flex-items {
        border: none;
        padding: .5rem;
        margin-right: 1.3em;
        font-family: 'Gemunu Libre', sans-serif;
        border-radius: 4px;
    }
}

// media queries
@media (min-width: 500px) {
    .flex-items {
        font-size: 1rem;
    }
}